<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>基本的表单验证</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope) {
                $scope.addUser = function (userDetails) {
                    $scope.message = " 用户名：" +userDetails.name
                        + " ，邮箱：" + userDetails.email
                        + "，同意协议："
                        + userDetails.agreed;
                };
                $scope.message = "暂无";
            });
    </script>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <form name="myForm" novalidate ng-submit="addUser(newUser)">
            <div class="well">
                <div class="form-group">
                    <label>用户名:</label>
                    <input name="userName" type="text" class="form-control"
                           required ng-model="newUser.name">
                </div>
                <div class="form-group">
                    <label>邮箱:</label>
                    <input name="userEmail" type="email" class="form-control"
                           required ng-model="newUser.email">
                </div>
                <div class="checkbox">
                    <label>
                        <input name="agreed" type="checkbox" 
                               ng-model="newUser.agreed" required>
                        同意协义的相关内容
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-block"
                        ng-disabled="myForm.$invalid">
                    OK
                </button>
            </div>
            <div class="well">
                注册信息: {{message}}
                <div>
                {{myForm.$valid?'表单填写完整 ，有效！':'表单未填写完整，无效'}}
                </div>
            </div>
        </form>
    </div>
</body>
</html>
