<!DOCTYPE html>
<html  ng-app="Md1">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body >
<div class="container" ng-controller="mc1">

   <ul>
       <li ng-repeat="x in [5,8,1,2,3,4]">123--{{x}}</li>
   </ul>
    <ul>
        <li ng-repeat="x in {'name':'tom','age':17,'hobby':'swimming'}">{{x}}</li>
    </ul>
    <ul>
        <li ng-repeat="(z,y) in {'name':'tom','age':17,'hobby':'swimming'}">{{z}}+{{y}}</li>
    </ul>
   <table style="width:200px;height: 150px;">
       <tr>
           <th>姓名</th>
           <th>年龄</th>
           <th>爱好</th>
       </tr>
       <tr ng-repeat="i in people">
           <td>{{i.name}}</td>
           <td>{{i.age}}</td>
           <td>{{i.hobby}}</td>
       </tr>
   </table>

    <p ng-repeat="(m,n) in people">{{m}}-->{{n}}</p>
</div>

<script src="js/angular.js"></script>

<script>
    angular.module('Md1',['ng']).controller('mc1',function($scope){
        $scope.people=[
            {'name':'TOM','age':17,'hobby':'singing'},
            {'name':'JIM','age':18,'hobby':'swimming'},
            {'name':'MARRY','age':15,'hobby':'dancing'}
        ]
    })
</script>
<!--jqLite-->
</body>
</html>