<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Forms-select</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function ($scope) {
                    $scope.fru='桔子';
                    $scope.fru1='黄瓜';
                    $scope.arr= [
                        { id: 100, fruit: "苹果", really: true },
                        { id: 200, fruit: "桔子", really: true },
                        { id: 300, fruit: "黄瓜", really: false}
                    ];
                    $scope.arr1= [ "苹果","桔子","黄瓜"];
                });
    </script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
        <div class="well">
            <div class="form-group">
                <label>选择一个选项:</label>
                <select ng-model="fru" ng-options="item.fruit as item.fruit for item in arr">
                    <option value="">(选一个)</option>
                </select>
            </div>
        </div>
        <div class="well">
            <div class="form-group">
                <label>选择一个选项:</label>
                <select ng-model="fru1" ng-options="item as item for item in arr1">
                    <option value="">(选一个)</option>
                </select>
            </div>
        </div>
        <div class="well">
            <p>你选择的是: {{fru || '无'}}</p>
            <p>1你选择的是: {{fru1 || '无'}}</p>
        </div>
    </form>
</div>
</body>
</html>
